.theater {
    margin-top:30%;
    text-align: center;
    margin: 20px;
}

.row {
    display: flex;
    justify-content: center;
}

.chair {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius:5px;
    background-color:#e8e6e6;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chair.booked {
    background-color: #ff0000;
    color:#000000;
    cursor: not-allowed;
}

.chair {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.selected {
    background-color: green;
}